.box {
    width: 100%;
    .top {
        width: 100%;
        background: #f2f2f2;
        height: 35px;
        .topHeader {
            width: 1215px;
            margin: 0 auto;
            color: #737373;
            font-size: 12px;
            p {
                float: left;
                position: relative;
                span {
                    padding: 0 10px;
                    cursor: pointer;
                    line-height: 35px;
                    &:hover {
                        color: #ff734c;
                    }
                }
                .activeS {
                    display: inline-block;
                    &:hover {
                        background: #fff;
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                    }
                }
            }
            .menu {
                float: right;
                li {
                    float: left;
                    cursor: pointer;
                    line-height: 35px;
                    // border-right: 1px solid #d9d9d9;
                    span {
                        border-right: 1px solid #d9d9d9;
                        padding: 0 10px;
                    }
                    &:hover {
                        color: #ff734c;
                        span {
                            border-right: 0
                        }
                        a {
                            color: #ff734c;
                        }
                    }
                    &:last-child {
                        span {
                            border-right: 1px solid #d9d9d9;
                            padding: 0 10px;
                            border-right: none;
                        }
                        cursor: auto;
                        &:hover {
                            color: #737373;
                        }
                    }
                    &:first-child {
                        border-right: none;
                    }
                    a {
                        text-decoration: none;
                        color: #737373;
                    }
                    i {
                        vertical-align: middle;
                    }
                }
                .activeLi {
                    &:hover {
                        background: #fff;
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                    }
                }
                #severs {
                    text-align: center;
                    border-right: 0;
                    position: relative;
                    &:hover {
                        li {
                            color: #737373;
                        }
                    }
                    .sever {
                        width: 89px;
                        background-color: #fff;
                        display: none;
                        position: absolute;
                        border: 1px solid #ccc;
                        border-top: 0;
                        left: 0;
                        top: 35px;
                        z-index: 55;
                        li {
                            box-sizing: border-box;
                            margin-left: 15px;
                            border-right: 0;
                            cursor: pointer;
                            height: 20px;
                            line-height: 20px;
                            font-size: 12px;
                            &:hover {
                                color: #ff734c;
                            }
                        }
                    }
                }
                #car {
                    position: relative;
                    .num {
                        color: #ff734c;
                        font-weight: normal;
                    }
                    &:hover .cars {
                        color: #737373;
                    }
                    .cars {
                        clear: both;
                        width: 300px;
                        height: 100px;
                        position: absolute;
                        background: #fff;
                        top: 35px;
                        left: -186px;
                        line-height: 100px;
                        text-align: center;
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                        display: none;
                        z-index: 55;
                    }
                }
            }
            .weiBox {
                width: 200px;
                height: 250px;
                background: #fff;
                position: absolute;
                left: 146px;
                top: 35px;
                border: 1px solid #ccc;
                border-top: 0;
                display: none;
                z-index: 55;
                p {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                }
            }
            .appBox {
                width: 200px;
                height: 250px;
                background: #fff;
                position: absolute;
                left: 248px;
                top: 35px;
                border: 1px solid #ccc;
                border-top: 0;
                display: none;
                z-index: 55;
                p {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    span {
                        display: inline-block;
                        width: 200px;
                    }
                }
            }
            .iconfont {
                color: #ffb680;
                margin-right: 5px;
            }
            .icon-below-s {
                color: #d9d9d9;
            }
        }
    }
    .logo {
        width: 1215px;
        height: 120px;
        margin: 0 auto;
        transform: translateY(-20px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            width: 240px;
            height: 65px;
            background: url('../ststic/images/首页图标.png') no-repeat;
            background-position: 0 -244px;
            margin-top: 20px;
        }
        .search {
            width: 456px;
            border: 2px solid #ff734c;
            height: 50px;
            border-radius: 114px;
            i {
                display: inline-block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #b4babf;
            }
            input {
                width: 280px;
                height: 50px;
                padding: 5px;
                box-sizing: border-box;
                border: 0;
                outline: 0;
                transform: translateY(-2px);
                &::placeholder {
                    color: #b4babf;
                }
            }
            button {
                width: 120px;
                height: 50px;
                background: #ff6a00;
                color: #fff;
                border: 0;
                vertical-align: top;
                outline-style: none;
                cursor: pointer;
                border-radius: 30px;
            }
            p {
                margin-left: 50px;
                margin-top: 12px;
                a {
                    color: #b4babf;
                    font-size: 12px;
                    margin-right: 25px;
                }
            }
        }
        .right {
            span {
                font-size: 12px;
                padding: 0 20px;
                color: #737388;
                &:first-child {
                    border-right: 1px solid #d9d9d9;
                }
                &:last-child {
                    cursor: pointer;
                    &:hover {
                        color: #ff6a00;
                    }
                }
                .iconfont {
                    color: #ff734c;
                    margin-right: 10px;
                    font-size: 20px;
                }
            }
        }
    }
    .content {
        width: 100%;
        min-height: 300px;
        background: #f2f2f2;
        .nav {
            width: 1215px;
            margin: 0 auto;
            .allClassify,
            .classify,
            .classify li {
                float: left;
            }
            .allClassify {
                width: 240px;
                height: 50px;
                background: #ff481e;
                color: #fff;
                line-height: 50px;
                font-size: 18px;
                font-weight: bold;
                i {
                    margin-left: 24px;
                    margin-right: 12px;
                }
            }
            .classify {
                li {
                    padding: 0 28px;
                    line-height: 50px;
                    font-weight: bold;
                    cursor: pointer;
                    &:hover {
                        color: #ff481e;
                    }
                }
            }
        }
        .banner {
            width: 100%;
        }
    }
}