.box {
    width: 100%;
    .top {
        width: 100%;
        background: #f2f2f2;
        height: 35px;
        .topHeader {
            width: 1215px;
            margin: 0 auto;
            color: #737373;
            font-size: 12px;
            p {
                float: left;
                position: relative;
                span {
                    padding: 0 10px;
                    cursor: pointer;
                    line-height: 35px;
                    &:hover {
                        color: #ff734c;
                    }
                }
                .activeS {
                    display: inline-block;
                    &:hover {
                        background: #fff;
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                    }
                }
            }
            .menu {
                float: right;
                li {
                    float: left;
                    cursor: pointer;
                    line-height: 35px;
                    // border-right: 1px solid #d9d9d9;
                    span {
                        border-right: 1px solid #d9d9d9;
                        padding: 0 10px;
                    }
                    &:hover {
                        color: #ff734c;
                        span {
                            border-right: 0
                        }
                        a {
                            color: #ff734c;
                        }
                    }
                    &:last-child {
                        span {
                            border-right: 1px solid #d9d9d9;
                            padding: 0 10px;
                            border-right: none;
                        }
                        cursor: auto;
                        &:hover {
                            color: #737373;
                        }
                    }
                    &:first-child {
                        border-right: none;
                    }
                    a {
                        text-decoration: none;
                        color: #737373;
                    }
                    i {
                        vertical-align: middle;
                    }
                }
                .activeLi {
                    &:hover {
                        background: #fff;
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                    }
                }
                #severs {
                    text-align: center;
                    border-right: 0;
                    position: relative;
                    &:hover {
                        li {
                            color: #737373;
                        }
                    }
                    .sever {
                        width: 89px;
                        background-color: #fff;
                        display: none;
                        position: absolute;
                        border: 1px solid #ccc;
                        border-top: 0;
                        left: 0;
                        top: 35px;
                        z-index: 55;
                        li {
                            box-sizing: border-box;
                            margin-left: 15px;
                            border-right: 0;
                            cursor: pointer;
                            height: 20px;
                            line-height: 20px;
                            font-size: 12px;
                            &:hover {
                                color: #ff734c;
                            }
                        }
                    }
                }
                #car {
                    position: relative;
                    .num {
                        color: #ff734c;
                        font-weight: normal;
                    }
                    &:hover .cars {
                        color: #737373;
                    }
                    .cars {
                        clear: both;
                        width: 300px;
                        height: 100px;
                        position: absolute;
                        background: #fff;
                        top: 35px;
                        left: -186px;
                        line-height: 100px;
                        text-align: center;
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                        display: none;
                        z-index: 55;
                    }
                }
            }
            .weiBox {
                width: 200px;
                height: 250px;
                background: #fff;
                position: absolute;
                left: 146px;
                top: 35px;
                border: 1px solid #ccc;
                border-top: 0;
                display: none;
                z-index: 55;
                p {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                }
            }
            .appBox {
                width: 200px;
                height: 250px;
                background: #fff;
                position: absolute;
                left: 248px;
                top: 35px;
                border: 1px solid #ccc;
                border-top: 0;
                display: none;
                z-index: 55;
                p {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    span {
                        display: inline-block;
                        width: 200px;
                    }
                }
            }
            .iconfont {
                color: #ffb680;
                margin-right: 5px;
            }
            .icon-below-s {
                color: #d9d9d9;
            }
        }
    }
    .logoBox {
        width: 100%;
        background: #f7f9fa;
        .logo {
            width: 1215px;
            height: 120px;
            margin: 0 auto;
            transform: translateY(-20px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                width: 240px;
                height: 65px;
                background: url('../ststic/images/首页图标.png') no-repeat;
                background-position: 0 -244px;
                margin-top: 20px;
            }
            .search {
                width: 456px;
                border: 2px solid #ff734c;
                height: 50px;
                border-radius: 114px;
                background: #fff;
                i {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    color: #b4babf;
                }
                input {
                    width: 280px;
                    height: 50px;
                    padding: 5px;
                    box-sizing: border-box;
                    border: 0;
                    outline: 0;
                    transform: translateY(-2px);
                    &::placeholder {
                        color: #b4babf;
                    }
                }
                button {
                    width: 120px;
                    height: 50px;
                    background: #ff6a00;
                    color: #fff;
                    border: 0;
                    vertical-align: top;
                    outline-style: none;
                    cursor: pointer;
                    border-radius: 30px;
                }
                p {
                    margin-left: 50px;
                    margin-top: 12px;
                    a {
                        color: #b4babf;
                        font-size: 12px;
                        margin-right: 25px;
                    }
                }
            }
            .right {
                span {
                    font-size: 12px;
                    padding: 0 20px;
                    color: #737388;
                    &:first-child {
                        border-right: 1px solid #d9d9d9;
                    }
                    &:last-child {
                        cursor: pointer;
                        &:hover {
                            color: #ff6a00;
                        }
                    }
                    .iconfont {
                        color: #ff734c;
                        margin-right: 10px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .content {
        width: 100%;
        min-height: 300px;
        background: #f2f2f2;
        position: relative;
        .navBox {
            width: 100%;
            background: #f7f9fa;
            .nav {
                width: 1215px;
                margin: 0 auto;
                position: relative;
                .allClassify,
                .classify,
                .classify li {
                    float: left;
                }
                .allClassify {
                    width: 240px;
                    height: 530px;
                    color: #fff;
                    line-height: 50px;
                    font-size: 18px;
                    font-weight: bold;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 55;
                    p {
                        background: #ff481e;
                        height: 50px;
                        border-radius: 10px 10px 0 0;
                        i {
                            margin-left: 24px;
                            margin-right: 12px;
                        }
                    }
                    .classic {
                        background: rgba(101, 104, 120, .8);
                        font-size: 14px;
                        line-height: 24px;
                        div {
                            padding: 14px 10px;
                            h4 {
                                margin-bottom: 5.5px;
                                font-size: 16px;
                                font-weight: bold;
                                display: flex;
                                justify-content: space-between;
                                span {
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                                i {
                                    font-weight: normal;
                                }
                            }
                            span {
                                white-space: nowrap;
                                font-weight: normal;
                                cursor: pointer;
                                &:hover {
                                    color: #ff481e;
                                }
                            }
                        }
                        .activeDiv {
                            &:hover {
                                background: #fff;
                                h4 {
                                    span {
                                        color: #000;
                                    }
                                }
                                span {
                                    color: #737476;
                                }
                            }
                        }
                    }
                }
                .classify {
                    margin-left: 240px;
                    li {
                        padding: 0 28px;
                        line-height: 50px;
                        font-weight: bold;
                        cursor: pointer;
                        &:hover {
                            color: #ff481e;
                        }
                    }
                }
            }
            .hBox {
                width: 1000px;
                height: 480px;
                background: #fff;
                position: absolute;
                left: 392px;
                top: 50px;
                z-index: 55;
                display: none;
                .preserve {
                    margin-left: 30px;
                    margin-bottom: 30px;
                    display: none;
                    h3 {
                        line-height: 50px;
                    }
                    dl {
                        float: left;
                        margin-right: 50px;
                        cursor: pointer;
                        dd {
                            margin-bottom: 10px;
                            img {
                                width: 90px;
                                height: 90px;
                            }
                        }
                        dt {
                            text-align: center;
                        }
                        &:hover {
                            color: #ff6a00;
                        }
                    }
                }
                .cake {
                    margin-left: 30px;
                    margin-bottom: 30px;
                    display: none;
                    h3 {
                        line-height: 50px;
                    }
                    dl {
                        float: left;
                        margin-right: 30px;
                        cursor: pointer;
                        margin-bottom: 20px;
                        dd {
                            margin-bottom: 10px;
                            img {
                                width: 105px;
                                height: 60px;
                            }
                        }
                        dt {
                            text-align: center;
                            font-size: 12px;
                            color: #71797f;
                        }
                        &:hover {
                            color: #ff6a00;
                        }
                    }
                    a {
                        font-size: 12px;
                        color: #71797f;
                        margin-right: 15px;
                        &:hover {
                            color: #ff6a00;
                        }
                    }
                }
                .present {
                    margin-left: 30px;
                    margin-bottom: 30px;
                    display: none;
                    div {
                        font-size: 12px;
                        color: #71797f;
                        &:first-child {
                            dl {
                                float: left;
                                margin-right: 30px;
                                cursor: pointer;
                                margin-bottom: 20px;
                                dd {
                                    margin-bottom: 10px;
                                    img {
                                        width: 105px;
                                        height: 60px;
                                    }
                                }
                                dt {
                                    text-align: center;
                                }
                                &:hover {
                                    color: #ff6a00;
                                }
                            }
                        }
                        &:last-child {
                            dl {
                                float: left;
                                margin-right: 50px;
                                cursor: pointer;
                                margin-bottom: 20px;
                                dd {
                                    margin-bottom: 10px;
                                    img {
                                        width: 80px;
                                        height: 80px;
                                    }
                                }
                                dt {
                                    text-align: center;
                                }
                                &:hover {
                                    color: #ff6a00;
                                }
                            }
                        }
                    }
                    h3 {
                        line-height: 50px;
                    }
                }
            }
        }
        .banner {
            width: 100%;
        }
        .adv {
            width: 1215px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            padding: 20px 0;
            p {
                &:first-child {
                    i {
                        background-position: -200px -136px;
                    }
                }
                &:nth-child(2) {
                    i {
                        background-position: 0px -136px;
                    }
                }
                &:nth-child(3) {
                    i {
                        background-position: -50px -136px;
                    }
                }
                &:nth-child(4) {
                    i {
                        background-position: -150px -136px;
                    }
                }
                &:nth-child(5) {
                    i {
                        background-position: -100px -136px;
                    }
                }
            }
            i {
                display: inline-block;
                width: 40px;
                height: 40px;
                background: url('../ststic/images/首页图标.png') no-repeat;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        .newPro {
            width: 1215px;
            margin: 0 auto;
            img {
                width: 100%;
            }
            ul {
                width: 100%;
                background: #40a48d;
                height: 195px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                li {
                    width: 280px;
                    height: 160px;
                    background: #fff;
                    border-radius: 10px;
                    cursor: pointer;
                    div {
                        float: left;
                        margin-top: 35px;
                        margin-left: 20px;
                        h4 {
                            font-size: 20px;
                            margin-bottom: 12px;
                        }
                        p {
                            &:nth-of-type(1) {
                                font-size: 14px;
                                color: #71797f;
                                margin-bottom: 30px;
                            }
                            &:nth-of-type(2) {
                                color: #c26137;
                                font-weight: bold;
                                font-size: 18px;
                            }
                        }
                    }
                    img {
                        margin-top: 20px;
                        width: 120px;
                        height: 120px;
                        margin-left: 20px;
                    }
                }
            }
        }
        .sceneList {
            width: 1215px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 25px 0;
            div {
                width: 290px;
                height: 374px;
                float: left;
                img {
                    border-radius: 10px;
                }
            }
            .list2 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .list4 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p {
                    &:nth-of-type(1) {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
        .scene {
            width: 1215px;
            margin: 0 auto;
            padding-bottom: 60px;
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    width: 290px;
                    height: 175px;
                    border-radius: 10px;
                    &:first-child {
                        position: relative;
                        span {
                            position: absolute;
                            bottom: 20px;
                            left: 14px;
                            font-size: 16px;
                            color: #71797f;
                        }
                    }
                }
            }
        }
        .loveBox {
            width: 100%;
            background: #f7f9fa;
            .loveFlower {
                width: 1215px;
                margin: 0 auto;
                padding-top: 40px;
                h3 {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 14px;
                    span {
                        &:first-child {
                            font-size: 28px;
                            font-weight: bold;
                            padding: 0 17px;
                            border-right: 1px solid #71797f;
                        }
                        &:last-child {
                            padding-left: 16px;
                        }
                    }
                    p {
                        &:last-child {
                            color: #71797f;
                            font-size: 14px;
                        }
                    }
                }
                div {
                    float: left;
                    &:last-child {
                        width: 920px;
                        dl {
                            float: left;
                            width: 210px;
                            height: 320px;
                            margin-right: 16px;
                            margin-bottom: 28px;
                            cursor: pointer;
                            &:first-child,
                            &:nth-of-type(5) {
                                margin-left: 16px;
                            }
                            dd {
                                img {
                                    width: 100%;
                                }
                            }
                            dt {
                                text-align: center;
                                background: #fff;
                                p {
                                    line-height: 26px;
                                    &:first-child {
                                        font-size: 16px;
                                        color: #71797f;
                                    }
                                    &:nth-of-type(2) {
                                        font-size: 14px;
                                        font-weight: bold;
                                    }
                                    &:last-child {
                                        font-size: 14px;
                                        color: #71797f;
                                    }
                                }
                            }
                            &:hover dt p {
                                &:first-child,
                                &:nth-of-type(2),
                                &:last-child {
                                    color: #ff6a00;
                                }
                            }
                        }
                    }
                }
                .loveImg {
                    position: relative;
                    p {
                        position: absolute;
                        bottom: 26px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 236px;
                        height: 56px;
                        border: 2px #efeeeb solid;
                        text-align: center;
                        line-height: 56px;
                        color: #fff;
                        font-weight: bold;
                        font-size: 20px;
                        cursor: pointer;
                        background: rgba(204, 204, 204, 0.5);
                    }
                }
            }
        }
        .elderBox {
            width: 100%;
            background: #e9ecf0;
            .elderFlower {
                width: 1215px;
                margin: 0 auto;
                padding-top: 40px;
                h3 {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 14px;
                    span {
                        &:first-child {
                            font-size: 28px;
                            font-weight: bold;
                            padding: 0 17px;
                            border-right: 1px solid #71797f;
                        }
                        &:last-child {
                            padding-left: 16px;
                        }
                    }
                    p {
                        &:last-child {
                            color: #71797f;
                            font-size: 14px;
                        }
                    }
                }
                div {
                    float: left;
                    &:last-child {
                        width: 920px;
                        dl {
                            float: left;
                            width: 210px;
                            height: 320px;
                            margin-right: 16px;
                            margin-bottom: 28px;
                            cursor: pointer;
                            &:first-child,
                            &:nth-of-type(5) {
                                margin-left: 16px;
                            }
                            dd {
                                img {
                                    width: 100%;
                                }
                            }
                            dt {
                                text-align: center;
                                background: #fff;
                                p {
                                    line-height: 26px;
                                    &:first-child {
                                        font-size: 16px;
                                        color: #71797f;
                                    }
                                    &:nth-of-type(2) {
                                        font-size: 14px;
                                        font-weight: bold;
                                    }
                                    &:last-child {
                                        font-size: 14px;
                                        color: #71797f;
                                    }
                                }
                            }
                            &:hover dt p {
                                &:first-child,
                                &:nth-of-type(2),
                                &:last-child {
                                    color: #ff6a00;
                                }
                            }
                        }
                    }
                }
                .elderImg {
                    position: relative;
                    p {
                        position: absolute;
                        bottom: 26px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 236px;
                        height: 56px;
                        border: 2px #efeeeb solid;
                        text-align: center;
                        line-height: 56px;
                        color: #fff;
                        font-weight: bold;
                        font-size: 20px;
                        cursor: pointer;
                        background: rgba(204, 204, 204, 0.5);
                    }
                }
            }
        }
        .immortalBox {
            width: 100%;
            background: #f7f9fa;
            .immortalFlower {
                width: 1215px;
                margin: 0 auto;
                padding-top: 40px;
                h3 {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 14px;
                    span {
                        &:first-child {
                            font-size: 28px;
                            font-weight: bold;
                            padding: 0 17px;
                            border-right: 1px solid #71797f;
                        }
                        &:last-child {
                            padding-left: 16px;
                        }
                    }
                    p {
                        &:last-child {
                            color: #71797f;
                            font-size: 14px;
                        }
                    }
                }
                div {
                    float: left;
                    &:last-child {
                        width: 920px;
                        dl {
                            float: left;
                            width: 210px;
                            height: 320px;
                            margin-right: 16px;
                            margin-bottom: 28px;
                            cursor: pointer;
                            &:first-child,
                            &:nth-of-type(5) {
                                margin-left: 16px;
                            }
                            dd {
                                img {
                                    width: 100%;
                                }
                            }
                            dt {
                                text-align: center;
                                background: #fff;
                                p {
                                    line-height: 26px;
                                    &:first-child {
                                        font-size: 16px;
                                        color: #71797f;
                                    }
                                    &:nth-of-type(2) {
                                        font-size: 14px;
                                        font-weight: bold;
                                    }
                                    &:last-child {
                                        font-size: 14px;
                                        color: #71797f;
                                    }
                                }
                            }
                            &:hover dt p {
                                &:first-child,
                                &:nth-of-type(2),
                                &:last-child {
                                    color: #ff6a00;
                                }
                            }
                        }
                    }
                }
                .immortalImg {
                    position: relative;
                    p {
                        position: absolute;
                        bottom: 26px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 236px;
                        height: 56px;
                        border: 2px #efeeeb solid;
                        text-align: center;
                        line-height: 56px;
                        color: #fff;
                        font-weight: bold;
                        font-size: 20px;
                        cursor: pointer;
                        background: rgba(204, 204, 204, 0.5);
                    }
                }
            }
        }
        .cakeBox {
            width: 100%;
            background: #e9ecf0;
            padding-bottom: 60px;
            .cakes {
                width: 1215px;
                margin: 0 auto;
                padding-top: 40px;
                h3 {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 14px;
                    span {
                        &:first-child {
                            font-size: 28px;
                            font-weight: bold;
                            padding: 0 17px;
                            border-right: 1px solid #71797f;
                        }
                        &:last-child {
                            padding-left: 16px;
                        }
                    }
                    p {
                        &:last-child {
                            color: #71797f;
                            font-size: 14px;
                        }
                    }
                }
                .cakeCon {
                    width: 1215px;
                    margin: 0 auto;
                    background: #FFF;
                    .cityList {
                        padding-top: 16px;
                        p {
                            float: left;
                            width: 290px;
                            height: 50px;
                            border-radius: 0 72.5px 72.5px 0;
                            line-height: 50px;
                            text-align: center;
                            background: -webkit-linear-gradient(left, #ff734c, #ff3d12);
                            /* Safari 5.1 - 6.0 */
                            background: -o-linear-gradient(left, #ff734c, #ff3d12);
                            /* Opera 11.1 - 12.0 */
                            background: -moz-linear-gradient(left, #ff734c, #ff3d12);
                            /* Firefox 3.6 - 15 */
                            background: linear-gradient(left, #ff734c, #ff3d12);
                            span {
                                color: #fff;
                                &:first-child {
                                    font-size: 20px;
                                    margin-right: 48px;
                                    cursor: pointer;
                                    i {
                                        margin-right: 8px;
                                    }
                                }
                                &:last-child {
                                    font-size: 18px;
                                    font-weight: bold;
                                }
                            }
                        }
                        ul {
                            float: left;
                            line-height: 50px;
                            li {
                                float: left;
                                margin-left: 25px;
                                a {
                                    &:hover {
                                        color: #ff6a00;
                                    }
                                }
                            }
                        }
                        div {
                            margin-top: 10px;
                            dl {
                                float: left;
                                margin-right: 80px;
                                margin-bottom: 40px;
                                &:first-child {
                                    margin-left: 10px;
                                }
                                &:last-child {
                                    margin-right: 0;
                                }
                                dd {
                                    img {
                                        width: 100px;
                                        height: 60px;
                                    }
                                    margin-bottom: 20px;
                                }
                                dt {
                                    text-align: center;
                                    a {
                                        color: #71797f;
                                        font-size: 12px;
                                        &:hover {
                                            color: #ff6a00;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .cakePro {
                    text-align: center;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;
                    dl {
                        padding: 8px;
                        width: 220px;
                        background: #fff;
                        border-radius: 10px;
                        &:hover {
                            color: #ff6a00;
                        }
                        dd {
                            cursor: pointer;
                            img {
                                width: 220px;
                                height: 280px;
                                border-radius: 10px;
                            }
                        }
                        dt {
                            h4 {
                                width: 200px;
                                margin: 0 auto;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                margin-bottom: 10px;
                            }
                            p {
                                &:first-child {
                                    font-size: 14px;
                                    font-weight: bold;
                                }
                                &:last-child {
                                    font-size: 12px;
                                    color: #737476;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .presentBox {
            width: 100%;
            background: #f7f9fa;
            padding-bottom: 60px;
            .presents {
                width: 1215px;
                margin: 0 auto;
                padding-top: 40px;
                h3 {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 14px;
                    span {
                        &:first-child {
                            font-size: 28px;
                            font-weight: bold;
                            padding: 0 17px;
                            border-right: 1px solid #71797f;
                        }
                        &:last-child {
                            padding-left: 16px;
                        }
                    }
                    p {
                        &:last-child {
                            color: #71797f;
                            font-size: 14px;
                        }
                    }
                }
                .presentCon {
                    width: 1215px;
                    margin: 0 auto;
                    .presentList {
                        background: #FFF;
                        ul {
                            line-height: 50px;
                            li {
                                float: left;
                                margin-left: 20px;
                                a {
                                    font-size: 14px;
                                    color: #71797f;
                                    &:hover {
                                        color: #ff6a00;
                                    }
                                }
                            }
                        }
                        div {
                            dl {
                                float: left;
                                width: 100px;
                                margin-right: 20px;
                                cursor: pointer;
                                margin-right: 50px;
                                &:hover {
                                    color: #ff734c;
                                }
                                &:first-child {
                                    margin-left: 20px;
                                }
                                dd {
                                    img {
                                        width: 100%;
                                    }
                                }
                                dt {
                                    text-align: center;
                                    font-size: 12px;
                                    color: #737388;
                                }
                            }
                        }
                    }
                }
            }
            .presentPro1 {
                text-align: center;
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                dl {
                    padding: 8px;
                    width: 220px;
                    background: #fff;
                    border-radius: 10px;
                    &:hover {
                        color: #ff6a00;
                    }
                    dd {
                        cursor: pointer;
                        img {
                            width: 220px;
                            height: 280px;
                            border-radius: 10px;
                        }
                    }
                    dt {
                        h4 {
                            width: 200px;
                            margin: 0 auto;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            margin-bottom: 10px;
                        }
                        p {
                            &:first-child {
                                font-size: 14px;
                                font-weight: bold;
                            }
                            &:last-child {
                                font-size: 12px;
                                color: #737476;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
        .evaBox {
            width: 100%;
            background: #e9ecf0;
            padding-bottom: 60px;
            .evl {
                width: 1215px;
                margin: 0 auto;
                padding-top: 40px;
                h3 {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 14px;
                    span {
                        &:first-child {
                            font-size: 28px;
                            font-weight: bold;
                            padding: 0 17px;
                            border-right: 1px solid #71797f;
                        }
                        &:last-child {
                            padding-left: 16px;
                        }
                    }
                    p {
                        &:last-child {
                            color: #71797f;
                            font-size: 14px;
                        }
                    }
                }
                .evlList {
                    ul {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 8px;
                        li {
                            width: 265px;
                            height: 160px;
                            background-color: #fff;
                            padding: 16px 8px;
                            border-radius: 10px;
                            .text {
                                float: left;
                                width: 138px;
                                p {
                                    i {
                                        display: inline-block;
                                        width: 25px;
                                        height: 25px;
                                        border-radius: 50% 50%;
                                        background: url('https://img02.hua.com/pc/assets/img/avatar_default_04.jpg');
                                        background-size: 100%, 100%;
                                    }
                                    span {
                                        line-height: 25px;
                                        vertical-align: top;
                                        margin-left: 12px;
                                        font-size: 12px;
                                        color: #71797f;
                                    }
                                    &:nth-of-type(2) {
                                        font-size: 14px;
                                        margin: 12px 0 45px 0;
                                    }
                                    &:nth-of-type(3),
                                    &:last-child {
                                        font-size: 12px;
                                        color: #c4c0d5;
                                    }
                                }
                            }
                            .imgItem {
                                float: right;
                                img {
                                    width: 118px;
                                    border-radius: 10px;
                                    height: 160px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .consultBox {
            width: 100%;
            background: #f7f9fa;
            padding-bottom: 60px;
            padding-top: 40px;
            .consult {
                width: 1215px;
                margin: 0 auto;
                background: #fff;
                padding-bottom: 15px;
                h4 {
                    height: 50px;
                    line-height: 50px;
                    border-bottom: 1px solid #e9ecf0;
                    display: flex;
                    justify-content: space-between;
                    span {
                        &:first-child {
                            font-size: 20px;
                            font-weight: bold;
                            margin-left: 32px;
                        }
                        &:last-child {
                            font-size: 14px;
                            color: #71797f;
                            margin-right: 32px;
                        }
                    }
                }
                div {
                    display: flex;
                    justify-content: space-between;
                    ul {
                        li {
                            list-style: disc;
                            line-height: 30px;
                            height: 30px;
                            a {
                                font-size: 12px;
                                color: #232628;
                                &:hover {
                                    color: #ff6a00;
                                }
                            }
                        }
                        &:first-child {
                            margin-left: 40px;
                        }
                    }
                }
            }
            .chBox {
                width: 1215px;
                margin: 0 auto;
                margin-top: 47px;
                padding-bottom: 40px;
                border-bottom: 1px solid #e9ecf0;
                ul {
                    display: flex;
                    width: 1215px;
                    justify-content: space-between;
                    li {
                        width: 25%;
                        i {
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            background: url('../ststic/images/首页图标.png') no-repeat;
                            margin-right: 16px;
                            vertical-align: middle;
                        }
                    }
                }
                .ch1 {
                    padding: 40px 0;
                    li {
                        &:nth-of-type(1) {
                            i {
                                background-position: 0 -136px;
                            }
                        }
                        &:nth-of-type(2) {
                            i {
                                background-position: -50px -136px;
                            }
                        }
                        &:nth-of-type(3) {
                            i {
                                background-position: -100px -136px;
                            }
                        }
                        &:nth-of-type(4) {
                            i {
                                background-position: -150px -136px;
                            }
                        }
                    }
                }
                .ch2 {
                    li {
                        &:nth-of-type(1) {
                            i {
                                background-position: -200px -136px;
                            }
                        }
                        &:nth-of-type(2) {
                            i {
                                background-position: -250px -136px;
                            }
                        }
                        &:nth-of-type(3) {
                            i {
                                background-position: -300px -136px;
                            }
                        }
                        &:nth-of-type(4) {
                            i {
                                background-position: -350px -136px;
                            }
                        }
                    }
                }
            }
        }
    }
}