@charset "UTF-8";
.box {
  width: 100%;
  position: relative;
}

.box .top {
  width: 100%;
  background: #f2f2f2;
  height: 35px;
}

.box .top .topHeader {
  width: 1215px;
  margin: 0 auto;
  color: #737373;
  font-size: 12px;
}

.box .top .topHeader p {
  float: left;
  position: relative;
}

.box .top .topHeader p span {
  padding: 0 10px;
  cursor: pointer;
  line-height: 35px;
}

.box .top .topHeader p span:hover {
  color: #ff734c;
}

.box .top .topHeader p .activeS {
  display: inline-block;
}

.box .top .topHeader p .activeS:hover {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.box .top .topHeader .menu {
  float: right;
}

.box .top .topHeader .menu li {
  float: left;
  cursor: pointer;
  line-height: 35px;
}

.box .top .topHeader .menu li span {
  border-right: 1px solid #d9d9d9;
  padding: 0 10px;
}

.box .top .topHeader .menu li:hover {
  color: #ff734c;
}

.box .top .topHeader .menu li:hover span {
  border-right: 0;
}

.box .top .topHeader .menu li:hover a {
  color: #ff734c;
}

.box .top .topHeader .menu li:last-child {
  cursor: auto;
}

.box .top .topHeader .menu li:last-child span {
  border-right: 1px solid #d9d9d9;
  padding: 0 10px;
  border-right: none;
}

.box .top .topHeader .menu li:last-child:hover {
  color: #737373;
}

.box .top .topHeader .menu li:first-child {
  border-right: none;
}

.box .top .topHeader .menu li a {
  text-decoration: none;
  color: #737373;
}

.box .top .topHeader .menu li i {
  vertical-align: middle;
}

.box .top .topHeader .menu .activeLi:hover {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.box .top .topHeader .menu #severs {
  text-align: center;
  border-right: 0;
  position: relative;
}

.box .top .topHeader .menu #severs:hover li {
  color: #737373;
}

.box .top .topHeader .menu #severs .sever {
  width: 89px;
  background-color: #fff;
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-top: 0;
  left: 0;
  top: 35px;
  z-index: 55;
}

.box .top .topHeader .menu #severs .sever li {
  box-sizing: border-box;
  margin-left: 15px;
  border-right: 0;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.box .top .topHeader .menu #severs .sever li:hover {
  color: #ff734c;
}

.box .top .topHeader .menu #car {
  position: relative;
}

.box .top .topHeader .menu #car .num {
  color: #ff734c;
  font-weight: normal;
}

.box .top .topHeader .menu #car:hover .cars {
  color: #737373;
}

.box .top .topHeader .menu #car .cars {
  clear: both;
  width: 300px;
  height: 100px;
  position: absolute;
  background: #fff;
  top: 35px;
  left: -186px;
  line-height: 100px;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: none;
  z-index: 55;
}

.box .top .topHeader .weiBox {
  width: 200px;
  height: 250px;
  background: #fff;
  position: absolute;
  left: 146px;
  top: 35px;
  border: 1px solid #ccc;
  border-top: 0;
  display: none;
  z-index: 60;
}

.box .top .topHeader .weiBox p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box .top .topHeader .appBox {
  width: 200px;
  height: 250px;
  background: #fff;
  position: absolute;
  left: 248px;
  top: 35px;
  border: 1px solid #ccc;
  border-top: 0;
  display: none;
  z-index: 60;
}

.box .top .topHeader .appBox p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box .top .topHeader .appBox p span {
  display: inline-block;
  width: 200px;
}

.box .top .topHeader .iconfont {
  color: #ffb680;
  margin-right: 5px;
}

.box .top .topHeader .icon-below-s {
  color: #d9d9d9;
}

.box .logoBox {
  width: 100%;
  background: #f7f9fa;
}

.box .logoBox .logo {
  width: 1215px;
  height: 120px;
  margin: 0 auto;
  transform: translateY(-20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .logoBox .logo h1 {
  width: 240px;
  height: 65px;
  background: url("../ststic/images/首页图标.png") no-repeat;
  background-position: 0 -244px;
  margin-top: 20px;
}

.box .logoBox .logo .search {
  width: 456px;
  border: 2px solid #ff734c;
  height: 50px;
  border-radius: 114px;
  background: #fff;
}

.box .logoBox .logo .search i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #b4babf;
}

.box .logoBox .logo .search input {
  width: 278px;
  height: 45px;
  padding: 5px;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  transform: translateY(-2px);
}

.box .logoBox .logo .search input::placeholder {
  color: #b4babf;
}

.box .logoBox .logo .search button {
  width: 120px;
  height: 50px;
  background: #ff6a00;
  color: #fff;
  border: 0;
  vertical-align: top;
  outline-style: none;
  cursor: pointer;
  border-radius: 30px;
  transform: translateY(-2px);
}

.box .logoBox .logo .search p {
  margin-left: 50px;
  margin-top: 12px;
}

.box .logoBox .logo .search p a {
  color: #b4babf;
  font-size: 12px;
  margin-right: 25px;
}

.box .logoBox .logo .right span {
  font-size: 12px;
  padding: 0 20px;
  color: #737388;
}

.box .logoBox .logo .right span:first-child {
  border-right: 1px solid #d9d9d9;
}

.box .logoBox .logo .right span:last-child {
  cursor: pointer;
}

.box .logoBox .logo .right span:last-child:hover {
  color: #ff6a00;
}

.box .logoBox .logo .right span .iconfont {
  color: #ff734c;
  margin-right: 10px;
  font-size: 20px;
}

.box .content {
  width: 100%;
  min-height: 300px;
  background: #f2f2f2;
  position: relative;
}

.box .content .navBox {
  width: 100%;
  background: #f7f9fa;
}

.box .content .navBox .nav {
  width: 1215px;
  margin: 0 auto;
  position: relative;
}

.box .content .navBox .nav .allClassify,
.box .content .navBox .nav .classify,
.box .content .navBox .nav .classify li {
  float: left;
}

.box .content .navBox .nav .allClassify {
  width: 240px;
  height: 530px;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 55;
}

.box .content .navBox .nav .allClassify p {
  background: #ff481e;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.box .content .navBox .nav .allClassify p i {
  margin-left: 24px;
  margin-right: 12px;
}

.box .content .navBox .nav .allClassify .classic {
  background: rgba(101, 104, 120, 0.8);
  font-size: 14px;
  line-height: 24px;
}

.box .content .navBox .nav .allClassify .classic div {
  padding: 14px 10px;
}

.box .content .navBox .nav .allClassify .classic div h4 {
  margin-bottom: 5.5px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.box .content .navBox .nav .allClassify .classic div h4 span {
  font-size: 16px;
  font-weight: bold;
}

.box .content .navBox .nav .allClassify .classic div h4 i {
  font-weight: normal;
}

.box .content .navBox .nav .allClassify .classic div span {
  white-space: nowrap;
  font-weight: normal;
  cursor: pointer;
}

.box .content .navBox .nav .allClassify .classic div span:hover {
  color: #ff481e;
}

.box .content .navBox .nav .allClassify .classic .activeDiv:hover {
  background: #fff;
}

.box .content .navBox .nav .allClassify .classic .activeDiv:hover h4 span {
  color: #000;
}

.box .content .navBox .nav .allClassify .classic .activeDiv:hover span {
  color: #737476;
}

.box .content .navBox .nav .classify {
  margin-left: 240px;
}

.box .content .navBox .nav .classify li {
  padding: 0 28px;
  line-height: 50px;
  font-weight: bold;
  cursor: pointer;
}

.box .content .navBox .nav .classify li:hover {
  color: #ff481e;
}

.box .content .itemBox {
  width: 1215px;
  margin: 0 auto;
}

.box .content .itemBox .itemInfo {
  display: flex;
  justify-content: space-between;
}

.box .content .itemBox .itemInfo .imgBox {
  width: 460px;
}

.box .content .itemBox .itemInfo .imgBox .bigImg {
  width: 460px;
  height: 500px;
}

.box .content .itemBox .itemInfo .imgBox .bigImg img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.box .content .itemBox .itemInfo .imgBox .smallImg {
  text-align: center;
  margin-top: 40px;
}

.box .content .itemBox .itemInfo .imgBox .smallImg img {
  width: 82px;
  height: 82px;
  border-radius: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

.box .content .itemBox .itemInfo .imgBox .smallImg img:hover {
  border: 2px solid #ff481e;
}

.box .content .itemBox .itemInfo .infoBox {
  width: 700px;
}

.box .content .itemBox .itemInfo .infoBox h4 {
  font-size: 24px;
  font-weight: bold;
}

.box .content .itemBox .itemInfo .infoBox p {
  font-size: 16px;
}

.box .content .itemBox .itemInfo .infoBox .info p {
  padding: 0 20px;
  font-size: 14px;
}

.box .content .itemBox .itemInfo .infoBox .info p span:first-child {
  color: #717274;
  font-size: 14px;
  margin-right: 40px;
}

.box .content .itemBox .itemInfo .infoBox .info p:nth-of-type(2), .box .content .itemBox .itemInfo .infoBox .info p:nth-of-type(3), .box .content .itemBox .itemInfo .infoBox .info p:nth-of-type(4) {
  line-height: 40px;
  padding: 0 20px;
  background: #f8f9fb;
  margin-bottom: 0;
}

.box .content .itemBox .itemInfo .infoBox .info p:nth-of-type(5) {
  line-height: 30px;
}

.box .content .itemBox .itemInfo .infoBox .info p:nth-of-type(5) span {
  margin-right: 20px;
}

.box .content .itemBox .itemInfo .infoBox .info p:last-child button {
  width: 210px;
  height: 60px;
  border-radius: 52.5px;
  border: 0;
  outline: 0;
  font-size: 22px;
  font-weight: bold;
  margin-right: 40px;
  margin-top: 45px;
}

.box .content .itemBox .itemInfo .infoBox .info p:last-child button:first-child {
  background: #f7e1d6;
  color: #ff4120;
}

.box .content .itemBox .itemInfo .infoBox .info p:last-child button:first-child i {
  font-size: 22px;
  margin-right: 10px;
}

.box .content .itemBox .itemInfo .infoBox .info p:last-child button:nth-of-type(2) {
  background: #ff4120;
  color: #fff;
}

.box .content .itemBox .itemInfo .infoBox .info p:last-child span {
  cursor: pointer;
}

.box .content .itemBox .itemInfo .infoBox .info p:last-child span:hover {
  color: #ff4120;
}

.box .content .itemBox .itemInfo .infoBox .info p:last-child span i {
  margin-right: 10px;
}

.box .content .itemBox .itemInfo .infoBox .info .price {
  padding: 0 20px;
  line-height: 54px;
  background: #f4f5f7;
  margin-bottom: 0;
}

.box .content .itemBox .itemInfo .infoBox .info .price span:nth-of-type(2) {
  color: #ff4120;
  font-size: 30px;
  font-weight: bold;
}

.box .content .itemBox .itemInfo .infoBox .info .price span:nth-of-type(2) i {
  font-size: 20px;
}

.box .content .itemBox .itemInfo .infoBox .info .price span:nth-of-type(3) {
  font-size: 14px;
  color: #717274;
  margin: 0 20px;
}

.box .content .itemBox .itemInfo .infoBox .info .price span:nth-of-type(4) {
  font-size: 14px;
}

.box .content .itemBox .itemInfo .infoBox .info .price span:nth-of-type(5) {
  font-size: 14px;
  float: right;
}

.box .content .itemBox .itemInfo .infoBox .info .price span:nth-of-type(5) i {
  color: #ff4120;
}

.box .content .itemBox .info {
  margin-top: 60px;
}

.box .content .itemBox .info .meUl {
  margin-left: 30px;
}

.box .content .itemBox .info .meUl li {
  float: left;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  color: #1a1309;
  margin-right: 100px;
}

.box .content .itemBox .info .meUl li span {
  color: #ff4120;
}

.box .content .itemBox .info .meUl .actLi {
  font-weight: bold;
  border-bottom: 2px solid #ff4120;
}

.box .content .itemBox .detilItem .detilTop {
  width: 1215px;
  background: #f8f9fb;
  padding: 20px 50px;
}

.box .content .itemBox .detilItem .detilTop div {
  float: left;
  font-size: 14px;
}

.box .content .itemBox .detilItem .detilTop div h4 {
  text-align: center;
  font-weight: bold;
  line-height: 70px;
  border-right: 1px solid #ccc;
  padding: 0 50px;
  padding-right: 50px;
}

.box .content .itemBox .detilItem .detilTop div p span:first-child {
  color: #6a7274;
  margin-right: 20px;
}

.box .content .itemBox .detilItem .detilTop div:last-child {
  margin-left: 24px;
}

.box .content .itemBox .detilItem .detail-product-content {
  width: 1215px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

.box .content .itemBox .detilItem .detail-product-content .point-title {
  position: relative;
  padding: 24px 16px 14px;
  text-align: center;
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box .content .itemBox .detilItem .detail-product-content .point-body {
  width: 686px;
  margin: 0 auto;
  font-size: 12px;
}

.box .bottom {
  width: 100%;
  background: #232628;
}

.box .bottom .bottomCon {
  width: 1215px;
  margin: 0 auto;
}

.box .bottom .bottomCon ul li {
  float: left;
  padding: 34px 0;
}

.box .bottom .bottomCon ul li a {
  font-size: 14px;
  color: #737373;
  padding: 0 30px;
  border-left: 2px solid #dbd9d9;
}

.box .bottom .bottomCon ul li:first-child a {
  border-left: 0;
}

.box .bottom .bottomCon .icon {
  width: 100%;
  text-align: center;
}

.box .bottom .bottomCon .icon a img {
  margin-right: 10px;
}

.box .bottom .bottomCon .icon a:last-child img {
  width: 35px;
  height: 49px;
}

.box .bottom .bottomCon .copy {
  font-size: 13px;
  text-align: center;
  margin-top: 30px;
  color: #737373;
}

.box .bottom .bottomCon .copy span {
  padding: 0 5px;
}

.box .bottom .bottomCon .copy .s44 {
  border-right: 2px solid #d9e0e9;
}

.box .ulMenu {
  position: absolute;
  right: 70px;
  top: 720px;
  z-index: 90;
  background: #fff;
}

.box .ulMenu li {
  width: 60px;
  height: 50px;
  border: 1px solid #e9ecf0;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.box .ulMenu li:hover {
  color: #ff481e;
}

.box .ulMenu li:hover i {
  color: #ff481e;
}

.box .ulMenu li i {
  font-size: 20px;
  color: #a1a7ab;
}

.box .ulMenu li p {
  font-size: 12px;
}
