@charset "UTF-8";
.box {
  width: 100%;
}

.box .top {
  width: 100%;
  background: #f2f2f2;
  height: 35px;
}

.box .top .topHeader {
  width: 1215px;
  margin: 0 auto;
  color: #737373;
  font-size: 12px;
}

.box .top .topHeader p {
  float: left;
  position: relative;
}

.box .top .topHeader p span {
  padding: 0 10px;
  cursor: pointer;
  line-height: 35px;
}

.box .top .topHeader p span:hover {
  color: #ff734c;
}

.box .top .topHeader p .activeS {
  display: inline-block;
}

.box .top .topHeader p .activeS:hover {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.box .top .topHeader .menu {
  float: right;
}

.box .top .topHeader .menu li {
  float: left;
  cursor: pointer;
  line-height: 35px;
}

.box .top .topHeader .menu li span {
  border-right: 1px solid #d9d9d9;
  padding: 0 10px;
}

.box .top .topHeader .menu li:hover {
  color: #ff734c;
}

.box .top .topHeader .menu li:hover span {
  border-right: 0;
}

.box .top .topHeader .menu li:hover a {
  color: #ff734c;
}

.box .top .topHeader .menu li:last-child {
  cursor: auto;
}

.box .top .topHeader .menu li:last-child span {
  border-right: 1px solid #d9d9d9;
  padding: 0 10px;
  border-right: none;
}

.box .top .topHeader .menu li:last-child:hover {
  color: #737373;
}

.box .top .topHeader .menu li:first-child {
  border-right: none;
}

.box .top .topHeader .menu li a {
  text-decoration: none;
  color: #737373;
}

.box .top .topHeader .menu li i {
  vertical-align: middle;
}

.box .top .topHeader .menu .activeLi:hover {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.box .top .topHeader .menu #severs {
  text-align: center;
  border-right: 0;
  position: relative;
}

.box .top .topHeader .menu #severs:hover li {
  color: #737373;
}

.box .top .topHeader .menu #severs .sever {
  width: 89px;
  background-color: #fff;
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-top: 0;
  left: 0;
  top: 35px;
  z-index: 55;
}

.box .top .topHeader .menu #severs .sever li {
  box-sizing: border-box;
  margin-left: 15px;
  border-right: 0;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.box .top .topHeader .menu #severs .sever li:hover {
  color: #ff734c;
}

.box .top .topHeader .menu #car {
  position: relative;
}

.box .top .topHeader .menu #car .num {
  color: #ff734c;
  font-weight: normal;
}

.box .top .topHeader .menu #car:hover .cars {
  color: #737373;
}

.box .top .topHeader .menu #car .cars {
  clear: both;
  width: 300px;
  height: 100px;
  position: absolute;
  background: #fff;
  top: 35px;
  left: -186px;
  line-height: 100px;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: none;
  z-index: 55;
}

.box .top .topHeader .weiBox {
  width: 200px;
  height: 250px;
  background: #fff;
  position: absolute;
  left: 146px;
  top: 35px;
  border: 1px solid #ccc;
  border-top: 0;
  display: none;
  z-index: 55;
}

.box .top .topHeader .weiBox p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box .top .topHeader .appBox {
  width: 200px;
  height: 250px;
  background: #fff;
  position: absolute;
  left: 248px;
  top: 35px;
  border: 1px solid #ccc;
  border-top: 0;
  display: none;
  z-index: 55;
}

.box .top .topHeader .appBox p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box .top .topHeader .appBox p span {
  display: inline-block;
  width: 200px;
}

.box .top .topHeader .iconfont {
  color: #ffb680;
  margin-right: 5px;
}

.box .top .topHeader .icon-below-s {
  color: #d9d9d9;
}

.box .logoBox {
  width: 100%;
  background: #f7f9fa;
}

.box .logoBox .logo {
  width: 1215px;
  height: 120px;
  margin: 0 auto;
  transform: translateY(-20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .logoBox .logo h1 {
  width: 240px;
  height: 65px;
  background: url("../ststic/images/首页图标.png") no-repeat;
  background-position: 0 -244px;
  margin-top: 20px;
}

.box .logoBox .logo .search {
  width: 456px;
  border: 2px solid #ff734c;
  height: 50px;
  border-radius: 114px;
  background: #fff;
}

.box .logoBox .logo .search i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #b4babf;
}

.box .logoBox .logo .search input {
  width: 280px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  transform: translateY(-2px);
}

.box .logoBox .logo .search input::placeholder {
  color: #b4babf;
}

.box .logoBox .logo .search button {
  width: 120px;
  height: 50px;
  background: #ff6a00;
  color: #fff;
  border: 0;
  vertical-align: top;
  outline-style: none;
  cursor: pointer;
  border-radius: 30px;
}

.box .logoBox .logo .search p {
  margin-left: 50px;
  margin-top: 12px;
}

.box .logoBox .logo .search p a {
  color: #b4babf;
  font-size: 12px;
  margin-right: 25px;
}

.box .logoBox .logo .right span {
  font-size: 12px;
  padding: 0 20px;
  color: #737388;
}

.box .logoBox .logo .right span:first-child {
  border-right: 1px solid #d9d9d9;
}

.box .logoBox .logo .right span:last-child {
  cursor: pointer;
}

.box .logoBox .logo .right span:last-child:hover {
  color: #ff6a00;
}

.box .logoBox .logo .right span .iconfont {
  color: #ff734c;
  margin-right: 10px;
  font-size: 20px;
}

.box .content {
  width: 100%;
  min-height: 300px;
  background: #f2f2f2;
  position: relative;
}

.box .content .navBox {
  width: 100%;
  background: #f7f9fa;
}

.box .content .navBox .nav {
  width: 1215px;
  margin: 0 auto;
  position: relative;
}

.box .content .navBox .nav .allClassify,
.box .content .navBox .nav .classify,
.box .content .navBox .nav .classify li {
  float: left;
}

.box .content .navBox .nav .allClassify {
  width: 240px;
  height: 530px;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 55;
}

.box .content .navBox .nav .allClassify p {
  background: #ff481e;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.box .content .navBox .nav .allClassify p i {
  margin-left: 24px;
  margin-right: 12px;
}

.box .content .navBox .nav .allClassify .classic {
  background: rgba(101, 104, 120, 0.8);
  font-size: 14px;
  line-height: 24px;
}

.box .content .navBox .nav .allClassify .classic div {
  padding: 14px 10px;
}

.box .content .navBox .nav .allClassify .classic div h4 {
  margin-bottom: 5.5px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.box .content .navBox .nav .allClassify .classic div h4 span {
  font-size: 16px;
  font-weight: bold;
}

.box .content .navBox .nav .allClassify .classic div h4 i {
  font-weight: normal;
}

.box .content .navBox .nav .allClassify .classic div span {
  white-space: nowrap;
  font-weight: normal;
  cursor: pointer;
}

.box .content .navBox .nav .allClassify .classic div span:hover {
  color: #ff481e;
}

.box .content .navBox .nav .allClassify .classic .activeDiv:hover {
  background: #fff;
}

.box .content .navBox .nav .allClassify .classic .activeDiv:hover h4 span {
  color: #000;
}

.box .content .navBox .nav .allClassify .classic .activeDiv:hover span {
  color: #737476;
}

.box .content .navBox .nav .classify {
  margin-left: 240px;
}

.box .content .navBox .nav .classify li {
  padding: 0 28px;
  line-height: 50px;
  font-weight: bold;
  cursor: pointer;
}

.box .content .navBox .nav .classify li:hover {
  color: #ff481e;
}

.box .content .navBox .hBox {
  width: 1000px;
  height: 480px;
  background: #fff;
  position: absolute;
  left: 392px;
  top: 50px;
  z-index: 55;
  display: none;
}

.box .content .navBox .hBox .preserve {
  margin-left: 30px;
  margin-bottom: 30px;
  display: none;
}

.box .content .navBox .hBox .preserve h3 {
  line-height: 50px;
}

.box .content .navBox .hBox .preserve dl {
  float: left;
  margin-right: 50px;
  cursor: pointer;
}

.box .content .navBox .hBox .preserve dl dd {
  margin-bottom: 10px;
}

.box .content .navBox .hBox .preserve dl dd img {
  width: 90px;
  height: 90px;
}

.box .content .navBox .hBox .preserve dl dt {
  text-align: center;
}

.box .content .navBox .hBox .preserve dl:hover {
  color: #ff6a00;
}

.box .content .navBox .hBox .cake {
  margin-left: 30px;
  margin-bottom: 30px;
  display: none;
}

.box .content .navBox .hBox .cake h3 {
  line-height: 50px;
}

.box .content .navBox .hBox .cake dl {
  float: left;
  margin-right: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.box .content .navBox .hBox .cake dl dd {
  margin-bottom: 10px;
}

.box .content .navBox .hBox .cake dl dd img {
  width: 105px;
  height: 60px;
}

.box .content .navBox .hBox .cake dl dt {
  text-align: center;
  font-size: 12px;
  color: #71797f;
}

.box .content .navBox .hBox .cake dl:hover {
  color: #ff6a00;
}

.box .content .navBox .hBox .cake a {
  font-size: 12px;
  color: #71797f;
  margin-right: 15px;
}

.box .content .navBox .hBox .cake a:hover {
  color: #ff6a00;
}

.box .content .navBox .hBox .present {
  margin-left: 30px;
  margin-bottom: 30px;
  display: none;
}

.box .content .navBox .hBox .present div {
  font-size: 12px;
  color: #71797f;
}

.box .content .navBox .hBox .present div:first-child dl {
  float: left;
  margin-right: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.box .content .navBox .hBox .present div:first-child dl dd {
  margin-bottom: 10px;
}

.box .content .navBox .hBox .present div:first-child dl dd img {
  width: 105px;
  height: 60px;
}

.box .content .navBox .hBox .present div:first-child dl dt {
  text-align: center;
}

.box .content .navBox .hBox .present div:first-child dl:hover {
  color: #ff6a00;
}

.box .content .navBox .hBox .present div:last-child dl {
  float: left;
  margin-right: 50px;
  cursor: pointer;
  margin-bottom: 20px;
}

.box .content .navBox .hBox .present div:last-child dl dd {
  margin-bottom: 10px;
}

.box .content .navBox .hBox .present div:last-child dl dd img {
  width: 80px;
  height: 80px;
}

.box .content .navBox .hBox .present div:last-child dl dt {
  text-align: center;
}

.box .content .navBox .hBox .present div:last-child dl:hover {
  color: #ff6a00;
}

.box .content .navBox .hBox .present h3 {
  line-height: 50px;
}

.box .content .banner {
  width: 100%;
}

.box .content .adv {
  width: 1215px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px 0;
}

.box .content .adv p:first-child i {
  background-position: -200px -136px;
}

.box .content .adv p:nth-child(2) i {
  background-position: 0px -136px;
}

.box .content .adv p:nth-child(3) i {
  background-position: -50px -136px;
}

.box .content .adv p:nth-child(4) i {
  background-position: -150px -136px;
}

.box .content .adv p:nth-child(5) i {
  background-position: -100px -136px;
}

.box .content .adv i {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../ststic/images/首页图标.png") no-repeat;
  vertical-align: middle;
  margin-right: 5px;
}

.box .content .newPro {
  width: 1215px;
  margin: 0 auto;
}

.box .content .newPro img {
  width: 100%;
}

.box .content .newPro ul {
  width: 100%;
  background: #40a48d;
  height: 195px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box .content .newPro ul li {
  width: 280px;
  height: 160px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.box .content .newPro ul li div {
  float: left;
  margin-top: 35px;
  margin-left: 20px;
}

.box .content .newPro ul li div h4 {
  font-size: 20px;
  margin-bottom: 12px;
}

.box .content .newPro ul li div p:nth-of-type(1) {
  font-size: 14px;
  color: #71797f;
  margin-bottom: 30px;
}

.box .content .newPro ul li div p:nth-of-type(2) {
  color: #c26137;
  font-weight: bold;
  font-size: 18px;
}

.box .content .newPro ul li img {
  margin-top: 20px;
  width: 120px;
  height: 120px;
  margin-left: 20px;
}

.box .content .sceneList {
  width: 1215px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.box .content .sceneList div {
  width: 290px;
  height: 374px;
  float: left;
}

.box .content .sceneList div img {
  border-radius: 10px;
}

.box .content .sceneList .list2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box .content .sceneList .list4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box .content .sceneList .list4 p:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}

.box .content .scene {
  width: 1215px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.box .content .scene ul {
  display: flex;
  justify-content: space-between;
}

.box .content .scene ul li {
  width: 290px;
  height: 175px;
  border-radius: 10px;
}

.box .content .scene ul li:first-child {
  position: relative;
}

.box .content .scene ul li:first-child span {
  position: absolute;
  bottom: 20px;
  left: 14px;
  font-size: 16px;
  color: #71797f;
}

.box .content .loveBox {
  width: 100%;
  background: #f7f9fa;
}

.box .content .loveBox .loveFlower {
  width: 1215px;
  margin: 0 auto;
  padding-top: 40px;
}

.box .content .loveBox .loveFlower h3 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.box .content .loveBox .loveFlower h3 span:first-child {
  font-size: 28px;
  font-weight: bold;
  padding: 0 17px;
  border-right: 1px solid #71797f;
}

.box .content .loveBox .loveFlower h3 span:last-child {
  padding-left: 16px;
}

.box .content .loveBox .loveFlower h3 p:last-child {
  color: #71797f;
  font-size: 14px;
}

.box .content .loveBox .loveFlower div {
  float: left;
}

.box .content .loveBox .loveFlower div:last-child {
  width: 920px;
}

.box .content .loveBox .loveFlower div:last-child dl {
  float: left;
  width: 210px;
  height: 320px;
  margin-right: 16px;
  margin-bottom: 28px;
  cursor: pointer;
}

.box .content .loveBox .loveFlower div:last-child dl:first-child, .box .content .loveBox .loveFlower div:last-child dl:nth-of-type(5) {
  margin-left: 16px;
}

.box .content .loveBox .loveFlower div:last-child dl dd img {
  width: 100%;
}

.box .content .loveBox .loveFlower div:last-child dl dt {
  text-align: center;
  background: #fff;
}

.box .content .loveBox .loveFlower div:last-child dl dt p {
  line-height: 26px;
}

.box .content .loveBox .loveFlower div:last-child dl dt p:first-child {
  font-size: 16px;
  color: #71797f;
}

.box .content .loveBox .loveFlower div:last-child dl dt p:nth-of-type(2) {
  font-size: 14px;
  font-weight: bold;
}

.box .content .loveBox .loveFlower div:last-child dl dt p:last-child {
  font-size: 14px;
  color: #71797f;
}

.box .content .loveBox .loveFlower div:last-child dl:hover dt p:first-child, .box .content .loveBox .loveFlower div:last-child dl:hover dt p:nth-of-type(2), .box .content .loveBox .loveFlower div:last-child dl:hover dt p:last-child {
  color: #ff6a00;
}

.box .content .loveBox .loveFlower .loveImg {
  position: relative;
}

.box .content .loveBox .loveFlower .loveImg p {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  width: 236px;
  height: 56px;
  border: 2px #efeeeb solid;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  background: rgba(204, 204, 204, 0.5);
}

.box .content .elderBox {
  width: 100%;
  background: #e9ecf0;
}

.box .content .elderBox .elderFlower {
  width: 1215px;
  margin: 0 auto;
  padding-top: 40px;
}

.box .content .elderBox .elderFlower h3 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.box .content .elderBox .elderFlower h3 span:first-child {
  font-size: 28px;
  font-weight: bold;
  padding: 0 17px;
  border-right: 1px solid #71797f;
}

.box .content .elderBox .elderFlower h3 span:last-child {
  padding-left: 16px;
}

.box .content .elderBox .elderFlower h3 p:last-child {
  color: #71797f;
  font-size: 14px;
}

.box .content .elderBox .elderFlower div {
  float: left;
}

.box .content .elderBox .elderFlower div:last-child {
  width: 920px;
}

.box .content .elderBox .elderFlower div:last-child dl {
  float: left;
  width: 210px;
  height: 320px;
  margin-right: 16px;
  margin-bottom: 28px;
  cursor: pointer;
}

.box .content .elderBox .elderFlower div:last-child dl:first-child, .box .content .elderBox .elderFlower div:last-child dl:nth-of-type(5) {
  margin-left: 16px;
}

.box .content .elderBox .elderFlower div:last-child dl dd img {
  width: 100%;
}

.box .content .elderBox .elderFlower div:last-child dl dt {
  text-align: center;
  background: #fff;
}

.box .content .elderBox .elderFlower div:last-child dl dt p {
  line-height: 26px;
}

.box .content .elderBox .elderFlower div:last-child dl dt p:first-child {
  font-size: 16px;
  color: #71797f;
}

.box .content .elderBox .elderFlower div:last-child dl dt p:nth-of-type(2) {
  font-size: 14px;
  font-weight: bold;
}

.box .content .elderBox .elderFlower div:last-child dl dt p:last-child {
  font-size: 14px;
  color: #71797f;
}

.box .content .elderBox .elderFlower div:last-child dl:hover dt p:first-child, .box .content .elderBox .elderFlower div:last-child dl:hover dt p:nth-of-type(2), .box .content .elderBox .elderFlower div:last-child dl:hover dt p:last-child {
  color: #ff6a00;
}

.box .content .elderBox .elderFlower .elderImg {
  position: relative;
}

.box .content .elderBox .elderFlower .elderImg p {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  width: 236px;
  height: 56px;
  border: 2px #efeeeb solid;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  background: rgba(204, 204, 204, 0.5);
}

.box .content .immortalBox {
  width: 100%;
  background: #f7f9fa;
}

.box .content .immortalBox .immortalFlower {
  width: 1215px;
  margin: 0 auto;
  padding-top: 40px;
}

.box .content .immortalBox .immortalFlower h3 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.box .content .immortalBox .immortalFlower h3 span:first-child {
  font-size: 28px;
  font-weight: bold;
  padding: 0 17px;
  border-right: 1px solid #71797f;
}

.box .content .immortalBox .immortalFlower h3 span:last-child {
  padding-left: 16px;
}

.box .content .immortalBox .immortalFlower h3 p:last-child {
  color: #71797f;
  font-size: 14px;
}

.box .content .immortalBox .immortalFlower div {
  float: left;
}

.box .content .immortalBox .immortalFlower div:last-child {
  width: 920px;
}

.box .content .immortalBox .immortalFlower div:last-child dl {
  float: left;
  width: 210px;
  height: 320px;
  margin-right: 16px;
  margin-bottom: 28px;
  cursor: pointer;
}

.box .content .immortalBox .immortalFlower div:last-child dl:first-child, .box .content .immortalBox .immortalFlower div:last-child dl:nth-of-type(5) {
  margin-left: 16px;
}

.box .content .immortalBox .immortalFlower div:last-child dl dd img {
  width: 100%;
}

.box .content .immortalBox .immortalFlower div:last-child dl dt {
  text-align: center;
  background: #fff;
}

.box .content .immortalBox .immortalFlower div:last-child dl dt p {
  line-height: 26px;
}

.box .content .immortalBox .immortalFlower div:last-child dl dt p:first-child {
  font-size: 16px;
  color: #71797f;
}

.box .content .immortalBox .immortalFlower div:last-child dl dt p:nth-of-type(2) {
  font-size: 14px;
  font-weight: bold;
}

.box .content .immortalBox .immortalFlower div:last-child dl dt p:last-child {
  font-size: 14px;
  color: #71797f;
}

.box .content .immortalBox .immortalFlower div:last-child dl:hover dt p:first-child, .box .content .immortalBox .immortalFlower div:last-child dl:hover dt p:nth-of-type(2), .box .content .immortalBox .immortalFlower div:last-child dl:hover dt p:last-child {
  color: #ff6a00;
}

.box .content .immortalBox .immortalFlower .immortalImg {
  position: relative;
}

.box .content .immortalBox .immortalFlower .immortalImg p {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  width: 236px;
  height: 56px;
  border: 2px #efeeeb solid;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  background: rgba(204, 204, 204, 0.5);
}

.box .content .cakeBox {
  width: 100%;
  background: #e9ecf0;
  padding-bottom: 60px;
}

.box .content .cakeBox .cakes {
  width: 1215px;
  margin: 0 auto;
  padding-top: 40px;
}

.box .content .cakeBox .cakes h3 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.box .content .cakeBox .cakes h3 span:first-child {
  font-size: 28px;
  font-weight: bold;
  padding: 0 17px;
  border-right: 1px solid #71797f;
}

.box .content .cakeBox .cakes h3 span:last-child {
  padding-left: 16px;
}

.box .content .cakeBox .cakes h3 p:last-child {
  color: #71797f;
  font-size: 14px;
}

.box .content .cakeBox .cakes .cakeCon {
  width: 1215px;
  margin: 0 auto;
  background: #FFF;
}

.box .content .cakeBox .cakes .cakeCon .cityList {
  padding-top: 16px;
}

.box .content .cakeBox .cakes .cakeCon .cityList p {
  float: left;
  width: 290px;
  height: 50px;
  border-radius: 0 72.5px 72.5px 0;
  line-height: 50px;
  text-align: center;
  background: -webkit-linear-gradient(left, #ff734c, #ff3d12);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, #ff734c, #ff3d12);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left, #ff734c, #ff3d12);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(left, #ff734c, #ff3d12);
}

.box .content .cakeBox .cakes .cakeCon .cityList p span {
  color: #fff;
}

.box .content .cakeBox .cakes .cakeCon .cityList p span:first-child {
  font-size: 20px;
  margin-right: 48px;
  cursor: pointer;
}

.box .content .cakeBox .cakes .cakeCon .cityList p span:first-child i {
  margin-right: 8px;
}

.box .content .cakeBox .cakes .cakeCon .cityList p span:last-child {
  font-size: 18px;
  font-weight: bold;
}

.box .content .cakeBox .cakes .cakeCon .cityList ul {
  float: left;
  line-height: 50px;
}

.box .content .cakeBox .cakes .cakeCon .cityList ul li {
  float: left;
  margin-left: 25px;
}

.box .content .cakeBox .cakes .cakeCon .cityList ul li a:hover {
  color: #ff6a00;
}

.box .content .cakeBox .cakes .cakeCon .cityList div {
  margin-top: 10px;
}

.box .content .cakeBox .cakes .cakeCon .cityList div dl {
  float: left;
  margin-right: 80px;
  margin-bottom: 40px;
}

.box .content .cakeBox .cakes .cakeCon .cityList div dl:first-child {
  margin-left: 10px;
}

.box .content .cakeBox .cakes .cakeCon .cityList div dl:last-child {
  margin-right: 0;
}

.box .content .cakeBox .cakes .cakeCon .cityList div dl dd {
  margin-bottom: 20px;
}

.box .content .cakeBox .cakes .cakeCon .cityList div dl dd img {
  width: 100px;
  height: 60px;
}

.box .content .cakeBox .cakes .cakeCon .cityList div dl dt {
  text-align: center;
}

.box .content .cakeBox .cakes .cakeCon .cityList div dl dt a {
  color: #71797f;
  font-size: 12px;
}

.box .content .cakeBox .cakes .cakeCon .cityList div dl dt a:hover {
  color: #ff6a00;
}

.box .content .cakeBox .cakes .cakePro {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box .content .cakeBox .cakes .cakePro dl {
  padding: 8px;
  width: 220px;
  background: #fff;
  border-radius: 10px;
}

.box .content .cakeBox .cakes .cakePro dl:hover {
  color: #ff6a00;
}

.box .content .cakeBox .cakes .cakePro dl dd {
  cursor: pointer;
}

.box .content .cakeBox .cakes .cakePro dl dd img {
  width: 220px;
  height: 280px;
  border-radius: 10px;
}

.box .content .cakeBox .cakes .cakePro dl dt h4 {
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.box .content .cakeBox .cakes .cakePro dl dt p:first-child {
  font-size: 14px;
  font-weight: bold;
}

.box .content .cakeBox .cakes .cakePro dl dt p:last-child {
  font-size: 12px;
  color: #737476;
  margin-top: 10px;
}

.box .content .presentBox {
  width: 100%;
  background: #f7f9fa;
  padding-bottom: 60px;
}

.box .content .presentBox .presents {
  width: 1215px;
  margin: 0 auto;
  padding-top: 40px;
}

.box .content .presentBox .presents h3 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.box .content .presentBox .presents h3 span:first-child {
  font-size: 28px;
  font-weight: bold;
  padding: 0 17px;
  border-right: 1px solid #71797f;
}

.box .content .presentBox .presents h3 span:last-child {
  padding-left: 16px;
}

.box .content .presentBox .presents h3 p:last-child {
  color: #71797f;
  font-size: 14px;
}

.box .content .presentBox .presents .presentCon {
  width: 1215px;
  margin: 0 auto;
}

.box .content .presentBox .presents .presentCon .presentList {
  background: #FFF;
}

.box .content .presentBox .presents .presentCon .presentList ul {
  line-height: 50px;
}

.box .content .presentBox .presents .presentCon .presentList ul li {
  float: left;
  margin-left: 20px;
}

.box .content .presentBox .presents .presentCon .presentList ul li a {
  font-size: 14px;
  color: #71797f;
}

.box .content .presentBox .presents .presentCon .presentList ul li a:hover {
  color: #ff6a00;
}

.box .content .presentBox .presents .presentCon .presentList div dl {
  float: left;
  width: 100px;
  margin-right: 20px;
  cursor: pointer;
  margin-right: 50px;
}

.box .content .presentBox .presents .presentCon .presentList div dl:hover {
  color: #ff734c;
}

.box .content .presentBox .presents .presentCon .presentList div dl:first-child {
  margin-left: 20px;
}

.box .content .presentBox .presents .presentCon .presentList div dl dd img {
  width: 100%;
}

.box .content .presentBox .presents .presentCon .presentList div dl dt {
  text-align: center;
  font-size: 12px;
  color: #737388;
}

.box .content .presentBox .presentPro1 {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box .content .presentBox .presentPro1 dl {
  padding: 8px;
  width: 220px;
  background: #fff;
  border-radius: 10px;
}

.box .content .presentBox .presentPro1 dl:hover {
  color: #ff6a00;
}

.box .content .presentBox .presentPro1 dl dd {
  cursor: pointer;
}

.box .content .presentBox .presentPro1 dl dd img {
  width: 220px;
  height: 280px;
  border-radius: 10px;
}

.box .content .presentBox .presentPro1 dl dt h4 {
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.box .content .presentBox .presentPro1 dl dt p:first-child {
  font-size: 14px;
  font-weight: bold;
}

.box .content .presentBox .presentPro1 dl dt p:last-child {
  font-size: 12px;
  color: #737476;
  margin-top: 10px;
}

.box .content .evaBox {
  width: 100%;
  background: #e9ecf0;
  padding-bottom: 60px;
}

.box .content .evaBox .evl {
  width: 1215px;
  margin: 0 auto;
  padding-top: 40px;
}

.box .content .evaBox .evl h3 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.box .content .evaBox .evl h3 span:first-child {
  font-size: 28px;
  font-weight: bold;
  padding: 0 17px;
  border-right: 1px solid #71797f;
}

.box .content .evaBox .evl h3 span:last-child {
  padding-left: 16px;
}

.box .content .evaBox .evl h3 p:last-child {
  color: #71797f;
  font-size: 14px;
}

.box .content .evaBox .evl .evlList ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.box .content .evaBox .evl .evlList ul li {
  width: 265px;
  height: 160px;
  background-color: #fff;
  padding: 16px 8px;
  border-radius: 10px;
}

.box .content .evaBox .evl .evlList ul li .text {
  float: left;
  width: 138px;
}

.box .content .evaBox .evl .evlList ul li .text p i {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50% 50%;
  background: url("https://img02.hua.com/pc/assets/img/avatar_default_04.jpg");
  background-size: 100%, 100%;
}

.box .content .evaBox .evl .evlList ul li .text p span {
  line-height: 25px;
  vertical-align: top;
  margin-left: 12px;
  font-size: 12px;
  color: #71797f;
}

.box .content .evaBox .evl .evlList ul li .text p:nth-of-type(2) {
  font-size: 14px;
  margin: 12px 0 45px 0;
}

.box .content .evaBox .evl .evlList ul li .text p:nth-of-type(3), .box .content .evaBox .evl .evlList ul li .text p:last-child {
  font-size: 12px;
  color: #c4c0d5;
}

.box .content .evaBox .evl .evlList ul li .imgItem {
  float: right;
}

.box .content .evaBox .evl .evlList ul li .imgItem img {
  width: 118px;
  border-radius: 10px;
  height: 160px;
}

.box .content .consultBox {
  width: 100%;
  background: #f7f9fa;
  padding-bottom: 60px;
  padding-top: 40px;
}

.box .content .consultBox .consult {
  width: 1215px;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 15px;
}

.box .content .consultBox .consult h4 {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e9ecf0;
  display: flex;
  justify-content: space-between;
}

.box .content .consultBox .consult h4 span:first-child {
  font-size: 20px;
  font-weight: bold;
  margin-left: 32px;
}

.box .content .consultBox .consult h4 span:last-child {
  font-size: 14px;
  color: #71797f;
  margin-right: 32px;
}

.box .content .consultBox .consult div {
  display: flex;
  justify-content: space-between;
}

.box .content .consultBox .consult div ul li {
  list-style: disc;
  line-height: 30px;
  height: 30px;
}

.box .content .consultBox .consult div ul li a {
  font-size: 12px;
  color: #232628;
}

.box .content .consultBox .consult div ul li a:hover {
  color: #ff6a00;
}

.box .content .consultBox .consult div ul:first-child {
  margin-left: 40px;
}

.box .content .consultBox .chBox {
  width: 1215px;
  margin: 0 auto;
  margin-top: 47px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e9ecf0;
}

.box .content .consultBox .chBox ul {
  display: flex;
  width: 1215px;
  justify-content: space-between;
}

.box .content .consultBox .chBox ul li {
  width: 25%;
}

.box .content .consultBox .chBox ul li i {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../ststic/images/首页图标.png") no-repeat;
  margin-right: 16px;
  vertical-align: middle;
}

.box .content .consultBox .chBox .ch1 {
  padding: 40px 0;
}

.box .content .consultBox .chBox .ch1 li:nth-of-type(1) i {
  background-position: 0 -136px;
}

.box .content .consultBox .chBox .ch1 li:nth-of-type(2) i {
  background-position: -50px -136px;
}

.box .content .consultBox .chBox .ch1 li:nth-of-type(3) i {
  background-position: -100px -136px;
}

.box .content .consultBox .chBox .ch1 li:nth-of-type(4) i {
  background-position: -150px -136px;
}

.box .content .consultBox .chBox .ch2 li:nth-of-type(1) i {
  background-position: -200px -136px;
}

.box .content .consultBox .chBox .ch2 li:nth-of-type(2) i {
  background-position: -250px -136px;
}

.box .content .consultBox .chBox .ch2 li:nth-of-type(3) i {
  background-position: -300px -136px;
}

.box .content .consultBox .chBox .ch2 li:nth-of-type(4) i {
  background-position: -350px -136px;
}
