.box {
  width: 100%;
}

.box .top {
  width: 100%;
  background: #f2f2f2;
  height: 35px;
}

.box .top .topHeader {
  width: 1215px;
  margin: 0 auto;
  color: #737373;
  font-size: 12px;
}

.box .top .topHeader p {
  float: left;
  position: relative;
}

.box .top .topHeader p span {
  padding: 0 10px;
  cursor: pointer;
  line-height: 35px;
}

.box .top .topHeader p span:hover {
  color: #ff734c;
}

.box .top .topHeader p .activeS {
  display: inline-block;
}

.box .top .topHeader p .activeS:hover {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.box .top .topHeader .menu {
  float: right;
}

.box .top .topHeader .menu li {
  float: left;
  cursor: pointer;
  line-height: 35px;
}

.box .top .topHeader .menu li span {
  border-right: 1px solid #d9d9d9;
  padding: 0 10px;
}

.box .top .topHeader .menu li:hover {
  color: #ff734c;
}

.box .top .topHeader .menu li:hover span {
  border-right: 0;
}

.box .top .topHeader .menu li:hover a {
  color: #ff734c;
}

.box .top .topHeader .menu li:last-child {
  cursor: auto;
}

.box .top .topHeader .menu li:last-child span {
  border-right: 1px solid #d9d9d9;
  padding: 0 10px;
  border-right: none;
}

.box .top .topHeader .menu li:last-child:hover {
  color: #737373;
}

.box .top .topHeader .menu li:first-child {
  border-right: none;
}

.box .top .topHeader .menu li a {
  text-decoration: none;
  color: #737373;
}

.box .top .topHeader .menu li i {
  vertical-align: middle;
}

.box .top .topHeader .menu .activeLi:hover {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.box .top .topHeader .menu #severs {
  text-align: center;
  border-right: 0;
  position: relative;
}

.box .top .topHeader .menu #severs:hover li {
  color: #737373;
}

.box .top .topHeader .menu #severs .sever {
  width: 89px;
  background-color: #fff;
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-top: 0;
  left: 0;
  top: 35px;
  z-index: 55;
}

.box .top .topHeader .menu #severs .sever li {
  box-sizing: border-box;
  margin-left: 15px;
  border-right: 0;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.box .top .topHeader .menu #severs .sever li:hover {
  color: #ff734c;
}

.box .top .topHeader .menu #car {
  position: relative;
}

.box .top .topHeader .menu #car .num {
  color: #ff734c;
  font-weight: normal;
}

.box .top .topHeader .menu #car:hover .cars {
  color: #737373;
}

.box .top .topHeader .menu #car .cars {
  clear: both;
  width: 300px;
  height: 100px;
  position: absolute;
  background: #fff;
  top: 35px;
  left: -186px;
  line-height: 100px;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: none;
  z-index: 55;
}

.box .top .topHeader .weiBox {
  width: 200px;
  height: 250px;
  background: #fff;
  position: absolute;
  left: 146px;
  top: 35px;
  border: 1px solid #ccc;
  border-top: 0;
  display: none;
  z-index: 55;
}

.box .top .topHeader .weiBox p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box .top .topHeader .appBox {
  width: 200px;
  height: 250px;
  background: #fff;
  position: absolute;
  left: 248px;
  top: 35px;
  border: 1px solid #ccc;
  border-top: 0;
  display: none;
  z-index: 55;
}

.box .top .topHeader .appBox p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box .top .topHeader .appBox p span {
  display: inline-block;
  width: 200px;
}

.box .top .topHeader .iconfont {
  color: #ffb680;
  margin-right: 5px;
}

.box .top .topHeader .icon-below-s {
  color: #d9d9d9;
}

.box .logo {
  width: 1215px;
  height: 120px;
  margin: 0 auto;
  transform: translateY(-20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .logo .search input {
  width: 240px;
  height: 35px;
  border: 1px solid #ff734c;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
}

.box .logo .search button {
  width: 80px;
  height: 35px;
  background: #ff6a00;
  color: #fff;
  border: 0;
  vertical-align: top;
  outline-style: none;
  cursor: pointer;
}

.box .logo .right span {
  font-size: 16px;
  padding: 0 20px;
  color: #737388;
}

.box .logo .right span:first-child {
  border-right: 1px solid #d9d9d9;
}

.box .logo .right span:last-child {
  cursor: pointer;
}

.box .logo .right span:last-child:hover {
  color: #ff6a00;
}

.box .logo .right span .iconfont {
  color: #ff734c;
  margin-right: 10px;
  font-size: 24px;
}

.box .content .navBox {
  width: 100%;
  background: #fe7a24;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.box .content .navBox .nav {
  width: 1215px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.box .content .navBox .nav .all {
  width: 260px;
}

.box .content .navBox .nav .all h3 {
  font-weight: bold;
  background: #ff6a00;
  padding: 0 15px;
}

.box .content .navBox .nav .all h3 .icon-xiala {
  float: right;
  vertical-align: middle;
}

.box .content .navBox .nav .all .allNone {
  background: #fff;
  border: 1px #fe6a00 solid;
  padding: 10px 15px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 555;
  display: none;
}

.box .content .navBox .nav .all .allNone h4 {
  font-weight: bold;
  font-size: 18px;
  color: #ff6a00;
  font-weight: bold;
}

.box .content .navBox .nav .all .allNone ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box .content .navBox .nav .all .allNone ul li {
  font-weight: normal;
  font-size: 14px;
  color: #606060;
  margin-right: 10px;
  cursor: pointer;
}

.box .content .navBox .nav .all .allNone ul li:hover {
  color: #ff6a00;
}

.box .content .navBox .nav .navUl li {
  float: left;
  padding: 0 22px;
  cursor: pointer;
}

.box .content .navBox .nav .navUl li:hover {
  background: #ff6a00;
}

.box .content .topImg {
  margin-top: 10px;
  width: 1215px;
  margin: 0 auto;
}

.box .content .topImg img {
  width: 100%;
  height: 100%;
}

.box .content .seBox {
  width: 1215px;
  margin: 0 auto;
  line-height: 45px;
  color: #233333;
  border-bottom: 1px solid #484848;
}

.box .content .seBox button {
  border: 0;
  outline: 0;
  margin-right: 20px;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.box .content .seBox button span {
  display: inline-block;
  height: 45px;
  margin-left: 5px;
  transform: translateY(5px);
}

.box .content .seBox button span i {
  color: #233333;
  display: block;
  font-size: 10px;
}

.box .content .seBox .clickBtn {
  color: #ff6a00;
}

.box .content .classify {
  box-sizing: border-box;
  height: 65px;
  line-height: 65px;
  margin: 0 auto;
  width: 1215px;
  background: #f5f5f5;
  margin-bottom: 5px;
  padding-left: 18px;
}

.box .content .classify span {
  font-size: 14px;
  color: #232323;
  margin-right: 30px;
  cursor: pointer;
}

.box .content .classify span:first-child {
  font-size: 14px;
  color: #606060;
  margin-right: 45px;
}

.box .content .classify .actSpan {
  color: #fe7a24;
}

.box .content .proBox {
  width: 1215px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

.box .content .proBox dl {
  width: 285px;
  text-align: center;
  margin-bottom: 60px;
  cursor: pointer;
}

.box .content .proBox dl dd {
  width: 100%;
  margin-bottom: 10px;
}

.box .content .proBox dl dd img {
  width: 100%;
}

.box .content .proBox dl dt h5 {
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
  width: 285px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box .content .proBox dl dt p {
  font-size: 12px;
  color: #233333;
  margin-bottom: 10px;
}

.box .content .proBox dl dt p:nth-of-type(2) {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

.box .content .proBox dl:hover {
  box-shadow: 1px 1px 3px 2px #ccc;
}

.box .bottom {
  width: 1215px;
  margin: 0 auto;
}

.box .bottom ul li {
  float: left;
  padding: 34px 0;
}

.box .bottom ul li a {
  font-size: 14px;
  color: #737373;
  padding: 0 30px;
  border-left: 2px solid #dbd9d9;
}

.box .bottom ul li:first-child a {
  border-left: 0;
}

.box .bottom .icon {
  width: 100%;
  text-align: center;
}

.box .bottom .icon a img {
  margin-right: 10px;
}

.box .bottom .icon a:last-child img {
  width: 35px;
  height: 49px;
}

.box .bottom .copy {
  font-size: 13px;
  text-align: center;
  margin-top: 30px;
  color: #737373;
}

.box .bottom .copy span {
  padding: 0 5px;
}

.box .bottom .copy .s44 {
  border-right: 2px solid #d9e0e9;
}

.box .ulMenu {
  position: absolute;
  right: 70px;
  top: 720px;
  z-index: 90;
  background: #fff;
}

.box .ulMenu li {
  width: 60px;
  height: 50px;
  border: 1px solid #e9ecf0;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.box .ulMenu li:hover {
  color: #ff481e;
}

.box .ulMenu li:hover i {
  color: #ff481e;
}

.box .ulMenu li i {
  font-size: 20px;
  color: #a1a7ab;
}

.box .ulMenu li p {
  font-size: 12px;
}
