.box {
  width: 100%;
}

.box .top {
  width: 100%;
  background: #f2f2f2;
  height: 35px;
}

.box .top .topHeader {
  width: 1215px;
  margin: 0 auto;
  color: #737373;
  font-size: 12px;
}

.box .top .topHeader p {
  float: left;
  position: relative;
}

.box .top .topHeader p span {
  padding: 0 10px;
  cursor: pointer;
  line-height: 35px;
}

.box .top .topHeader p span:hover {
  color: #ff734c;
}

.box .top .topHeader p .activeS {
  display: inline-block;
}

.box .top .topHeader p .activeS:hover {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.box .top .topHeader .menu {
  float: right;
}

.box .top .topHeader .menu li {
  float: left;
  cursor: pointer;
  line-height: 35px;
}

.box .top .topHeader .menu li span {
  border-right: 1px solid #d9d9d9;
  padding: 0 10px;
}

.box .top .topHeader .menu li:hover {
  color: #ff734c;
}

.box .top .topHeader .menu li:hover span {
  border-right: 0;
}

.box .top .topHeader .menu li:hover a {
  color: #ff734c;
}

.box .top .topHeader .menu li:last-child {
  cursor: auto;
}

.box .top .topHeader .menu li:last-child span {
  border-right: 1px solid #d9d9d9;
  padding: 0 10px;
  border-right: none;
}

.box .top .topHeader .menu li:last-child:hover {
  color: #737373;
}

.box .top .topHeader .menu li:first-child {
  border-right: none;
}

.box .top .topHeader .menu li a {
  text-decoration: none;
  color: #737373;
}

.box .top .topHeader .menu li i {
  vertical-align: middle;
}

.box .top .topHeader .menu .activeLi:hover {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.box .top .topHeader .menu #severs {
  text-align: center;
  border-right: 0;
  position: relative;
}

.box .top .topHeader .menu #severs:hover li {
  color: #737373;
}

.box .top .topHeader .menu #severs .sever {
  width: 89px;
  background-color: #fff;
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-top: 0;
  left: 0;
  top: 35px;
  z-index: 55;
}

.box .top .topHeader .menu #severs .sever li {
  box-sizing: border-box;
  margin-left: 15px;
  border-right: 0;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.box .top .topHeader .menu #severs .sever li:hover {
  color: #ff734c;
}

.box .top .topHeader .menu #car {
  position: relative;
}

.box .top .topHeader .menu #car .num {
  color: #ff734c;
  font-weight: normal;
}

.box .top .topHeader .menu #car:hover .cars {
  color: #737373;
}

.box .top .topHeader .menu #car .cars {
  clear: both;
  width: 300px;
  height: 100px;
  position: absolute;
  background: #fff;
  top: 35px;
  left: -186px;
  line-height: 100px;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: none;
  z-index: 55;
}

.box .top .topHeader .weiBox {
  width: 200px;
  height: 250px;
  background: #fff;
  position: absolute;
  left: 146px;
  top: 35px;
  border: 1px solid #ccc;
  border-top: 0;
  display: none;
  z-index: 55;
}

.box .top .topHeader .weiBox p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box .top .topHeader .appBox {
  width: 200px;
  height: 250px;
  background: #fff;
  position: absolute;
  left: 248px;
  top: 35px;
  border: 1px solid #ccc;
  border-top: 0;
  display: none;
  z-index: 55;
}

.box .top .topHeader .appBox p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box .top .topHeader .appBox p span {
  display: inline-block;
  width: 200px;
}

.box .top .topHeader .iconfont {
  color: #ffb680;
  margin-right: 5px;
}

.box .top .topHeader .icon-below-s {
  color: #d9d9d9;
}

.box .logo {
  width: 1215px;
  height: 120px;
  margin: 0 auto;
  transform: translateY(-20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .logo .search input {
  width: 240px;
  height: 35px;
  border: 1px solid #ff734c;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
}

.box .logo .search button {
  width: 80px;
  height: 35px;
  background: #ff6a00;
  color: #fff;
  border: 0;
  vertical-align: top;
  outline-style: none;
  cursor: pointer;
}

.box .logo .right span {
  font-size: 16px;
  padding: 0 20px;
  color: #737388;
}

.box .logo .right span:first-child {
  border-right: 1px solid #d9d9d9;
}

.box .logo .right span:last-child {
  cursor: pointer;
}

.box .logo .right span:last-child:hover {
  color: #ff6a00;
}

.box .logo .right span .iconfont {
  color: #ff734c;
  margin-right: 10px;
  font-size: 24px;
}

.box .content {
  width: 100%;
  background: url("http://img02.hua.com/pc/assets/img/login_bg.jpg") no-repeat;
  height: 475px;
  background-position-x: -186px;
}

.box .content .con {
  width: 1215px;
  margin: 0 auto;
}

.box .content .con .loginBox {
  width: 360px;
  background: #fff;
  float: right;
  margin-top: 20px;
  border-radius: 10px;
}

.box .content .con .loginBox .lBtn {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e9ecf0;
  border-radius: 10px;
}

.box .content .con .loginBox .lBtn button {
  border: none;
  outline-style: none;
  height: 49px;
  line-height: 49px;
  width: 180px;
  text-align: center;
  background: #fff;
  font-size: 20px;
  cursor: pointer;
}

.box .content .con .loginBox .lBtn .activeBtn {
  color: #ff6a00;
  border-bottom: 1px solid #ff6a00;
}

.box .content .con .loginBox ul {
  margin-bottom: 70px;
}

.box .content .con .loginBox ul li {
  display: none;
  text-align: center;
}

.box .content .con .loginBox ul li p {
  margin-bottom: 27px;
}

.box .content .con .loginBox ul li p:first-child {
  margin-top: 25px;
}

.box .content .con .loginBox ul li p i {
  display: inline-block;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border: 1px solid #e9ecf0;
  border-right: 0;
  vertical-align: middle;
}

.box .content .con .loginBox ul li p .icon-shouji {
  transform: translateY(1px);
}

.box .content .con .loginBox ul li p input {
  width: 310px;
  height: 35px;
  border: 1px solid #e9ecf0;
  border-left: 0;
  outline: none;
}

.box .content .con .loginBox ul li p #loginBtn {
  width: 310px;
  height: 35px;
  background: #ff734c;
  border-radius: 77.5px;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: 0;
  margin-top: 8px;
}

.box .content .con .loginBox ul li a {
  color: #71797f;
  font-size: 14px;
}

.box .content .con .loginBox ul .showLi {
  display: block;
}

.box .content .con .loginBox ul #wei p:last-child {
  margin-bottom: 5px;
}

.box .content .con .loginBox .footer {
  width: 100%;
  height: 50px;
  background: #f7f9fa;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  border-radius: 10px;
}

.box .content .con .loginBox .footer p:first-child {
  margin-left: 24px;
}

.box .content .con .loginBox .footer p:last-child {
  margin-right: 24px;
}

.box .content .con .loginBox .footer p span {
  margin-right: 30px;
  cursor: pointer;
}

.box .content .con .loginBox .footer p a {
  color: #ff734c;
  font-size: 14px;
}

.box .content .con .loginBox .footer i {
  border: 0;
  font-size: 20px;
  color: #1cacea;
  margin-right: 5px;
  vertical-align: middle;
}

.box .bottom {
  width: 1215px;
  margin: 0 auto;
}

.box .bottom ul li {
  float: left;
  padding: 34px 0;
}

.box .bottom ul li a {
  font-size: 14px;
  color: #737373;
  padding: 0 30px;
  border-left: 2px solid #dbd9d9;
}

.box .bottom ul li:first-child a {
  border-left: 0;
}

.box .bottom .icon {
  width: 100%;
  text-align: center;
}

.box .bottom .icon a img {
  margin-right: 10px;
}

.box .bottom .icon a:last-child img {
  width: 35px;
  height: 49px;
}

.box .bottom .copy {
  font-size: 13px;
  text-align: center;
  margin-top: 30px;
  color: #737373;
}

.box .bottom .copy span {
  padding: 0 5px;
}

.box .bottom .copy .s44 {
  border-right: 2px solid #d9e0e9;
}
